[submodule "upstream/qmf"]
	path = upstream/qmf
	url = https://gitlab.com/dekkoproject/messagingframework.git
[submodule "upstream/controls"]
	path = upstream/controls
	url = https://gitlab.com/dekkoproject/dekko-controls.git
[submodule "upstream/maz-db"]
	path = upstream/maz-db
	url = https://gitlab.com/dekkoproject/maz-db.git
[submodule "upstream/notify"]
	path = upstream/notify
	url = https://gitlab.com/dekkoproject/notify.git
[submodule "upstream/plugman"]
	path = upstream/plugman
	url = https://gitlab.com/dekkoproject/plugman.git
[submodule "upstream/pyotherside"]
	path = upstream/pyotherside
	url = https://gitlab.com/dekkoproject/pyotherside.git
