[submodule "plugins/3rdParty/quick-flux"]
	path = plugins/3rdParty/quick-flux
	url = http://code.dekkoproject.org/dekko-dev/quick-flux.git
[submodule "lib/3rdParty/SuperMacros"]
	path = lib/3rdParty/SuperMacros
	url = http://code.dekkoproject.org/dekko-dev/super-macros.git
